.coin_summary__total_dollar {
  font-size: 26px;
}

.coin_summary__total_dollar_label {
  font-size: 16px;
  color: #8e8c8c;
}

.coin_summary__total_btc {
  font-size: 26px;
}

.coin_summary__total_btc_label {
  font-size: 16px;
  color: #8e8c8c;
}

.coin_summary__change_dollar {
  font-size: 26px;
}

.coin_summary__change_dollar--up {
  color: green;
}

.coin_summary__change_dollar--down {
  color: red;
}

.coin_summary__title {
  color: #8e8c8c;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.coin_summary__change_pct {
  font-size: 16px;
}
