$dark: #444444;

.btn {
  cursor: pointer;
  background-color: $dark;
  border-color: $dark;
}

h4 {
  font-size: 16px;
}
.container {
  width: 100%;
}

body {
  font-family: Helvetica, sans-serif
}

.Toastify__toast--success {
  background: $dark;
}