.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.added-items {
  margin-bottom: 10px;
}

CoinIndex {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.btn {
  cursor: pointer;
  background-color: black;
  border-color: black;
}

h4 {
  font-size: 16px;
}

.header__item {
  display: flex;
  align-items: center;
  height: 60px;
  color: white;
}

.header__item:hover {
  color: white;
}

.header__item:focus {
  color: white;
  text-decoration: none;
}

.page_header__topbar {
  width: 100%;
  background-color: black;
}

.coin_summary__total_dollar {
  font-size: 26px;
}

.coin_summary__total_dollar_label {
  font-size: 16px;
  color: #8e8c8c;
}

.coin_summary__total_btc {
  font-size: 26px;
}

.coin_summary__total_btc_label {
  font-size: 16px;
  color: #8e8c8c;
}

.coin_summary__change_dollar {
  font-size: 26px;
}

.coin_summary__change_dollar--up {
  color: green;
}

.coin_summary__change_dollar--down {
  color: red;
}

.coin_summary__title {
  color: #8e8c8c;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.coin_list--up {
  color: green;
}

.coin_list--down {
  color: red;
}

.coin_summary__change_pct {
  font-size: 16px;
}

.coin_list__delete {
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
