.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.added-items {
  margin-bottom: 10px;
}

.CoinIndex {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.btn {
  cursor: pointer;
  background-color: black;
  border-color: black;
}

h4 {
  text-transform: uppercase;
  font-size: 22px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
